<launch>
  <arg name="model" default="$(find one_unit_robocon_2022)/urdf/body.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model one_unit_robot -param robot_description"/>

    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- <rosparam file="$(find nav_lecture)/config/move_base/local_costmap_params_old.yaml" command="load" />
      <rosparam file="$(find nav_lecture)/config/move_base/global_costmap_params_old.yaml" command="load" />
      <rosparam file="$(find nav_lecture)/config/move_base/base_local_planner_params.yaml" command="load" /> -->

      <param name="global_costmap/global_frame" value="one_unit_robot/map" />
      <param name="global_costmap/robot_base_frame" value="one_unit_robot/base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="one_unit_robot/front_laser_link" />
      <param name="local_costmap/laser_scan_sensor/topic" value="/one_unit_robot/front_laser/scan" />
      <param name="local_costmap/global_frame" value="one_unit_robot/odom" />
      <param name="local_costmap/robot_base_frame" value="one_unit_robot/base_link" />
    </node>

  <!-- rviz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" > -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" >

    <!-- <remap from="/move_base_simple/goal" to="/dtw_robot1/move_base_simple/goal"/> -->
  </node>
</launch>